############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## nodejs
############
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

*.zip

pids
logs
results

npm-debug.log
node_modules

# Mac crap
.DS_Store
