<div class="row chat-view" ng-mousemove="clearNotifications()" autoscroll watch-item="chatMessages" watch-enabled="autoScroll">
    <audio autoplay src="{{audioSrc}}"></audio>
	<div class="col-lg-2 col-md-3 col-sm-3 hidden-xs" style="position:relative;">
		<ul class="user-list" ng-class="{visible: true}">
			<li style="position:relative" ng-repeat="user in users track by user.id" autocolor="user.name" autofade="user.lastTyped">

				<span class="user-icon-wrapper"><i user-icon="user.icon" /></span>&nbsp;
				<span class="username">{{user.name}}</span> 
				<i class="typing glyphicon glyphicon-comment glyphicon-white" typing-watcher="user.lastTyped"></i>
			</li>
		</ul>
	</div>
	<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12" style="height: 100%">
		<ul id="chatMessages" class="chat-messages">
			<li ng-repeat="message in chatMessages track by message.id">
				<span class="username" ng-show="!message.isSystemMessage">{{message.user.name}}</span>
				<div class="content" autocolor="message.user.name">
					<message message="message"></message>
					<span class="name-change" ng-show="message.frames" name-change-frames frames="message.frames">
					</span>
					<div class="aftercontent"></div>
					<span class="timeago" timeago time="message.time">...</span>
				</div>
				<a type="button" class="btn-delete glyphicon glyphicon-trash" onselectstart="return false" style=" text-decoration:none; cursor: pointer;" ng-click="deleteMessage(message.id)" ng-show="$parent.isMyMessage(message)" title="delete"></a>
				<a type="button" class="glyphicon glyphicon-heart-empty" onselectstart="return false" style=" text-decoration:none; cursor: pointer;" ng-click="likeMessage(message.id)" ng-class="{nolikes: message.likes==0}"></a>
					<span ng-show="message.likes>0" style="font-size:10px; font-weight:bold; position:relative; top:-3px;">+{{message.likes}}</span>
			</li>
		</ul>
	</div>
</div>
<div class="chat-form-wrapper" ng-class="{visible: true}">
	<form class="chat-form form-vertical" ng-submit="addMessage()">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon" ng-click="nextIcon()" autocolor="user.name" ><i user-icon="user.icon" /></span>
				<input class="form-control name-box" type="text" ng-model="user.name" escape-unicode placeholder="your name"/>
			</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon" autocolor="user.name"><i class="glyphicon glyphicon-comment"></i></span>
					<input class="form-control" type="text" ng-model="message" placeholder="your message" ng-change="notifyTyping()" autofocus escape-unicode user-complete users="users"/>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default"  autocolor="user.name">Send</button>
					</span>
				</div>
			</div>
		<form>
</div>
