<link rel='stylesheet' href='/stylesheets/vendor/enscroll.css' />
<link rel='stylesheet' href='/stylesheets/vendor/jquery.fancybox.css' />
<link rel='stylesheet' href='/stylesheets/vendor/jquery.fancybox-buttons.css' />
<link rel='stylesheet' href='/stylesheets/vendor/jquery.fancybox-thumbs.css' />

<div class="yammer">
	<div class="yammerInner">
		<div class="toolbar">
			<span login-button=""></span>
			<span ng-show="data.isAuthenticated === true">
				<button class="postButton btn" title="Open New Post" ng-disabled="newPostOpen" ng-show="!isSingleThread" ng-click="openNewPost()">New Post</button>
				<button class="updateButton btn" title="Get Latest Posts" ng-click="data.updateFeed()" ng-show="data.newMessageCount > 0 && !data.isUpdating && !data.isRefreshing">{{data.newMessageCount}} new message(s)</button>
				<span class="threadLoading" ng-show="data.isRefreshing || data.isUpdating">Loading<span loading-Anim=""></span></span>
				<span class="search">
					<span class="glyphicon glyphicon-search"></span>
					<input type="text" placeholder="Search" ng-keyup="search($event)"/>
				</span>
				<a class="currentUser" target="_blank" title="Your Profile" ng-href="{{data.currentUser.ProfileUrl}}" ng-class="{'new': yammerData.newNotifications.length > 0}"><img ng-src="{{data.currentUser.PictureUrl}}"/></a>
				<a class="notifications glyphicon glyphicon-bell" target="_blank" title="Notifications" href="https://www.yammer.com/#/notifications/index?type=notifications"></a>
				<a settings=""></a>
			</span>
		</div>
		<div class="thread">
			<div class="postThread" ng-if="newPostOpen" new-post="" on-post="data.onPost" current-user="data.currentUser" on-cancel="closeNewPost()" users="data.users" groups="data.groups"></div>
			<div class="thread" ng-repeat="message in data.thread.Items" post="" message="message" root-list="data.thread.Items" on-post="data.onPost" users="data.users" groups="data.groups" current-user="data.currentUser"></div>
		</div>
		<button class="showOlderButton btn" ng-click="data.showOlder()" ng-show="data.olderAvailable && !data.isRefreshing && !data.isUpdating">Show Older</button>
	</div>
</div>