<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="PulseApp">
    <h1><%= title %></h1>
    <div ng-view>
    </div>
    <script src='/javascripts/vendor/angular.js'></script>
    <script src='/javascripts/vendor/angular-resource.js'></script>
    <script src='/javascripts/app/app.js'></script>
    <script src='/javascripts/app/controllers/index.js'></script>
  </body>
</html>