<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/glyphicons/css/bootstrap-glyphicons.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="PulseApp">
  	<div class="navbar navbar-fixed-top">
  			<div class="navbar-brand">
  				<div class="brand-inner">
            <img src="/images/icon.png" style="height:15px;"/>
  					<span><%= title %></span>
  				</div>
        <div class="pull-right" style="margin:5px; position:absolute; right:0; top:0;" ng-show="needsAlertPermissions">
          <a class="btn btn-warning" ng-click="enableNotifications()">Enable Notifications!</a>
      </div>
		</div>
  	</div>
    <div class="container">
      <div class="row"> 
        <div class="col-lg-12" style="text-align:center">
        <div class="btn-group">
          <a href="#/" class="btn btn-default" ng-class="{active: activeView=='Announcements'}"><i class="icon-exclamation-sign"></i>&nbsp;Announcements</a>
          <a href="#/chat" class="btn btn-default" ng-class="{active: activeView=='Chat'}"><i class="icon-comment"></i>&nbsp;Chat</a>
        </div>
      </div>
      </div>
    	<div ng-view class="main-view">
    	</div>    	
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/javascripts/vendor/moment.js'></script>
    <script src='/javascripts/vendor/crypto.js'></script>
    <script src='/javascripts/vendor/angular.js'></script>
    <script src='/javascripts/vendor/angular-resource.js'></script>
    <script src='/javascripts/app/app.js'></script>
    <script src='/javascripts/app/services/chatService.js'></script>
    <script src='/javascripts/app/services/pageInfoService.js'></script>
    <script src='/javascripts/app/services/announcementService.js'></script>
    <script src='/javascripts/app/services/socket.js'></script>
    <script src='/javascripts/app/services/colorHash.js'></script>
    <script src='/javascripts/app/controllers/index.js'></script>
    <script src='/javascripts/app/controllers/chat.js'></script>
    <script src='/javascripts/app/directives/timeago.js'></script>
    <script src='/javascripts/app/directives/autoscroll.js'></script>
    <script src='/javascripts/app/directives/message.js'></script>
    <script src='/javascripts/app/directives/autocolor.js'></script>
    <script src='/javascripts/app/directives/autofade.js'></script>
    <script src='/javascripts/app/directives/typing.js'></script>
  </body>
</html>