<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/glyphicons/css/bootstrap-glyphicons.css' />
    <link rel='stylesheet' href='/stylesheets/emojify.css' />
  </head>
  <body ng-app="PulseApp">
  	<div class="navbar navbar-fixed-top">
  		<div class="navbar-brand">
			<div class="brand-inner">
				<img src="/images/icon.png" style="height:15px;"/>
				<span><%= title %></span>
			</div>
		</div>
		<a class="settings" settings=""></a>
        <div class="btn-group" style="float:right; margin:0 auto;margin:8px;">
          <a href="#/" class="btn btn-default" ng-class="{active: activeView=='Announcements'}"><i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Announcements</a>
          <a href="#/chat" class="btn btn-default" ng-class="{active: activeView=='Chat'}"><i class="glyphicon glyphicon-comment"></i>&nbsp;Chat<span ng-show="chatHasNewMsg">*</span></a>
		  <a href="#/yammer" class="btn btn-default" ng-class="{active: activeView=='Yammer'}"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;Yammer<span ng-show="yammerNewMsgCount > 0">*</span></a>
        </div>

        <div class="pull-right" style="margin:8px 5px; display:none;" ng-class="{'visible-md': needsAlertPermissions, 'visible-lg': needsAlertPermissions}">
          <a class="btn btn-warning" ng-click="enableNotifications()">Enable Notifications!</a>
      </div>
  	</div>
    <div class="container">
      <div class="row"> 
        <div class="col-md-12" style="text-align:center">
          
        </div>
      </div>
      <div ng-view class="main-view">
      </div>
    </div>
    <% include _scripts.ejs %>
  </body>
</html>
