html {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.navbar {
  opacity: 0.9;
  background: #595959;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.navbar .brand {
  margin-left: 0px;
}
.brand-inner {
  color: white;
}
.messages {
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}
.message {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgba(182, 64, 79, 0.87);
  opacity: 0.4;
  padding: 15px 15px;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  display: inline-block;
}
.message .timeago {
  font-size: 0.6em;
}
.message.fresh {
  opacity: 1.0;
}
.message.old {
  opacity: 0.4;
}
.message.stale {
  opacity: 0.20;
}
.message.really-stale {
  opacity: 0.10;
}
form input {
  text-align: left;
  box-sizing: border-box;
  min-height: 30px;
  width: calc(100% - 43px);
}
form div.input-append {
  width: 100%;
}
form .footer {
  clear: both;
}
input {
  outline: none;
}
ul.chat-messages {
  position: relative;
  margin-top: 10px;
  padding-bottom: 150px;
  list-style: none;
}
ul.chat-messages li {
  position: relative;
}
ul.chat-messages li .content {
  background: #2f96b4;
  color: white;
  margin: 3px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  padding: 8px;
}
ul.chat-messages li .content a {
  color: white;
  text-decoration: underline;
}
ul.chat-messages li .aftercontent {
  position: absolute;
  top: 30%;
  left: -8px;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent #2f96b4;
  display: block;
  width: 0;
  z-index: 1;
}
ul.chat-messages p {
  margin-bottom: 0;
}
ul.chat-messages li img {
  max-height: 150px;
  margin: 3px;
  border-radius: 1px;
}
ul.chat-messages .timeago {
  font-size: 8px;
  margin-left: 8px;
  color: #CCC;
}
.autoScrollToggle {
  float: right;
  margin-right: 30px;
}
.autoScrollToggle input,
.autoScrollToggle label {
  float: right;
  display: inline-block;
}
.autoScrollToggle label {
  margin-right: 5px;
}
.user-list {
  list-style: none;
  margin-left: 0;
  padding: 15px 0;
  position: fixed;
  width: inherit;
}
.user-list li {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: 4px 10px;
  display: block;
  margin: 5px 5px 5px 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.typing {
  display: block;
  opacity: 0;
  position: absolute;
  top: 2px;
  left: 22px;
  font-size: 10px;
  transition: opacity ease 0.25s;
}
.typing.visible {
  display: block;
  opacity: 1.0;
}
.container {
  height: 100%;
  margin-top: 60px;
}
.main-view {
  height: calc(100% - 50px);
}
.name-box {
  max-width: 200px;
}
.nolikes {
  opacity: 0.15;
}
.chat-message {
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */

  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
#detail-modal .modal-body {
  width: auto;
  max-width: 100%;
}
#detail-modal .modal-body img {
  max-width: 100%;
}
.modal-backdrop {
  opacity: 0;
  background: #2a6496;
}
.chat-form-wrapper {
  position: fixed;
  bottom: 0;
  background: #595959;
  width: 100%;
  z-index: 100;
  padding: 15px;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}
.container {
  width: auto;
  padding: 0;
}
.row {
  padding: 0 10px;
}
