<div class="row">
	<div class="span12">
		<ul class="chat-messages" autoscroll watch-item="messages">
			<li ng-repeat="message in messages track by $id($index)">
				<div class="content">
				<p>{{message.text}}</p>
			</div>
				<span class="timeago" timeago time="message.time">...</span>
			</li>
		</ul>
		<form name="chat" ng-submit="addMessage()">
			<div class="input-append">
			<input type="text" ng-model="message"/>
			<a class="btn add-on" ng-click="addMessage()">Send</a>

			</div>
			
		<form>
	</div>
</div>