<div class="row">
	<div class="span12">
		<ul class="chat-messages" autoscroll watch-item="chatMessages">
			<li ng-repeat="message in chatMessages track by $id($index)">
				<span>{{message.user}}</span>
				<div class="content" style="background-color:{{message.color}}">
					<p>{{message.text}}</p>
					<div class="aftercontent" style="border-color: transparent{{message.color}}"></div>
				</div>
				<span class="timeago" timeago time="message.time">...</span>
			</li>
		</ul>
		<form ng-submit="addMessage()">
			<input type="text" ng-model="user" style="width:200px;" placeholder="your name"/>
			<div class="input-append">
				<input type="text" ng-model="message" placeholder="your message"/>
				<input type="submit" class="btn add-on" value="Send"/>
			</div>			
		<form>
	</div>
</div>