<div class="row" ng-mousemove="clearNotifications()">
	<div class="span12">
		<ul class="chat-messages" autoscroll watch-item="chatMessages" watch-enabled="autoScroll">
			<li ng-repeat="message in chatMessages track by $id($index)">
				<span>{{message.user}}</span>
				<div class="content" autocolor="message.user">
					<message text="message.text"></message>
					<div class="aftercontent"></div>
				</div>
				<span class="timeago" timeago time="message.time">...</span>
			</li>
		</ul>
		<div class="autoScrollToggle">
			<input id="watchToggle" type="checkbox" ng-model="autoScroll"/>
			<label for="watchToggle">auto-scroll</label>			
		</div>
		<form class="message-form" ng-submit="addMessage()">
			<input type="text" ng-model="user" style="width:200px;" placeholder="your name"/>
			<div class="input-append">
				<input type="text" ng-model="message" placeholder="your message" ng-change="notifyTyping()"/>
				<input type="submit" class="btn add-on" value="Send"/>
			</div>			
		<form>
		<ul class="user-list">
			<li style="position:relative" ng-repeat="user in users track by $id($index)" autocolor="user.name" autofade="user.lastTyped">
				<i class="icon-user icon-white"></i>&nbsp;<span>{{user.name}}</span> 
				<i class="typing icon-comment icon-white" typing-watcher="user.lastTyped"></i>
			</li>
		</ul>
	</div>
</div>