.autoComplete {

	.item {
		margin-right: 5px;

		.link {
			max-width: 150px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
			white-space: nowrap;
		}
		.remove {
			margin: 5px 0 0 2px;
			font-size: 8pt;
			vertical-align: top;
			display: inline-block;
		}
		a.remove {
			color: $accent-color;
		}
	}

	.autoCompleteInput {
		vertical-align: top;
		position: relative;

		.autoCompleteListContainer {
			position: absolute;
			left: 0;
			top: 23px;
			font-size: 9pt;
			z-index: 99;

			.autoCompleteList {
				position: absolute;
				left: 0;
				top: 0;
				padding: 5px 5px 0 5px;
				background: $button-background-color;
				border: 1px solid $button-border-color;
				color: $button-foreground-color;
				max-height: 200px;
				min-width: 125px;
				overflow: auto;

				a {
					display: block;
					margin-bottom: 5px;
					clear: both;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				.icon {
					font-size: 16pt;
					max-width: 25px;
					vertical-align: middle;
					float: left;
					margin-right: 5px;
					overflow: hidde;
				}

				img {
					max-width: 25px;
					vertical-align: middle;
					float: left;
					margin-right: 5px;
				}
			}
		}
	}
}